<h1>Contact</h1>
<div class="jumbotron">
	<p>Welcome to our website. We're currently building a Meme Sharing Site. This is our first web application built with rails. We'd love to hear from you, but now yet, because we haven't finished the app. We're excited!!! Rails!!!</p>
</div>